node_modules
vendor
.git
.gitignore
*.md
.env
.env.example
.env.docker
docker-compose.yml
Dockerfile
.dockerignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vscode
*.log
