<app-seo [options]="{
  title: 'Fullstack Challenge | Save Tracks'
}"></app-seo>

<!-- START ISRC SEARCH FORM -->

<form class="g-3 needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()"
  [ngClass]="{'was-validated': submitted}">
  <div class="row mb-2">
    <div class="col-md-12">
      <label for="isrc" class="form-label">Tracks ISRC</label>
      <input type="text" class="form-control" id="isrc" value="Mark" required formControlName="isrc"
        placeholder="Type a ISRC to search tracks...">
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please type a ISRC...
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="float-start">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
      <div class="float-end">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="debugCheck" formControlName="debug">
          <label class="form-check-label" for="debugCheck">
            Enable Form Debug?
          </label>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- END ISRC SEARCH FORM -->

<hr>

<!-- START TRACK RESULTS -->

<ng-container *ngIf="spotifyTracks.length > 0; else elseTemplate">

  <p>Showing {{spotifyTracks.length}} tracks</p>

  <hr>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <!-- START TRACK CARDS LOOP -->

      <div class="col" *ngFor="let track of spotifyTracks; index as index">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{track.album.images[0].url}}">
          <div class="card-body p-2">
            <h4 class="text-center position-relative">
              <a href="{{track.external_urls.spotify}}" target="_blank" rel="noopener noreferrer">
                {{track.name}}
              </a>
              <span *ngIf="isBrAvaialbe(track)" class="position-absolute top-0 start-100 translate-middle badge bg-success">BR</span>
            </h4>
            <audio controls class="w-100">
              <source src="{{track.preview_url}}">
            </audio>
            <hr>
            <div class="accordion" id="accordion{{index}}">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{index}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    attr.data-bs-target="#collapse{{index}}" aria-expanded="false"
                    attr.aria-controls="collapse{{index}}">
                    Released on {{track.album.release_date | date:'MM/dd/yy' }}<br>
                    By the artists bellow...
                  </button>
                </h2>
                <div id="collapse{{index}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{index}}"
                  attr.data-bs-parent="#accordion{{index}}">
                  <div class="accordion-body">
                    <ol>
                      <li *ngFor="let artist of track.artists; let index=index">
                        {{artist.name}}
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success">Save</button>
                <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
              </div>
              <small class="text-muted">Length: {{millisecondsToMinutes(track.duration_ms)}}</small>
            </div>
          </div>
        </div>
      </div>

      <!-- END TRACK CARDS LOOP -->

    </div>
  </div>

</ng-container>

<ng-template #elseTemplate>
  <h1>No track was found.</h1>
  <p>Click search button to load tracks or check your ISRC...</p>
</ng-template>

<!-- END TRACK RESULTS -->

<div *ngIf="form.value.debug">
  <app-form-debug [form]="form"></app-form-debug>
</div>