
.iconify {
    $side: 45px; 
    color: #1db954;
    width: $side;
    height: $side;
    margin-left: 5px;
}

.song-card-container {
    height: 100%;
    padding: 15px 0;
}
.song-card{ 
    height: 100%;
    margin: 20px 0;
    border: #1db954 solid 3px;
    padding: 15px;
    border-radius: 5px;    
}

.title-container {
    align-items: center;
}

.song-name {
    font-size: x-large;
    font-weight: 900;
    display: inline;
}


.data-element {
    margin: 10px 0;
}

.bold-yellow {
    color:  #D2AA08;
    font-weight: 600;
}

.green {
    color: #1db954;
}

.red {
    color: red;
}

.m-player {
    width: calc(100% - 50px);
}
