<section class="footer">
  <p class="text">Fullstack Challenge OneRpm</p>
  <div>
    <p class="text">by Aline F Andrade, jun/2023</p>
    <a class="anchor" href="https://www.linkedin.com/in/aline-andrade-/" target="_blank"><img
          src="../../../assets/img/icons8-linkedin-50.png" alt=""></a>
    <a class="anchor" href="https://wa.me/5511991234734" target="_blank"><img src="../../../assets/img/icons8-whatsapp-100.png" alt=""></a>
    <a class="anchor" href="mailto:marson.aline@gmail.com" target="_blank"><img src="../../../assets/img/icons8-envelope-circulado-50.png" alt=""></a>
  </div>
</section>