.footer {
  background-color: #313030;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 1rem 1.5rem 0 1.5rem;
}

.text {
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.text2 {
  font-size: 1.25rem;
}

.anchors {
  display: flex;
  justify-content: center;
}

.anchor img {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline;
}
