<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://github.com/cassiofb-dev/full-stack-challenge" target="_blank" rel="noopener">GitHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tracks/save" routerLinkActive="active">Save Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tracks/list" routerLinkActive="active">List Tracks</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
