<footer class="pt-5 text-muted text-center text-small">
  <p class="mb-1">{{year}} Made by Cássio Fernando</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="https://github.com/cassiofb-dev" target="_blank" rel="noopener">Github</a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/cassiofb-dev" target="_blank" rel="noopener">Linkedin</a></li>
    <li class="list-inline-item"><a href="https://twitter.com/cassiofb_dev" target="_blank" rel="noopener">Twitter</a></li>
  </ul>
</footer>
