.form {
  background-color: #212121;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.formFull {
  height: 57vh;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

.div-input {
  position: relative;
  margin: 1em;
  width: 500px;
  padding: 0 2rem;
}

.input {
  background-color: transparent;
  color: white;
  font-size: 16px;
  margin: 0px;
  padding-left: 1rem;
  width: 100%;
  outline: none;
  height: 50px;
  border-radius: 5px;
  border: 2px solid white;
}

.inputBtn {
  position: absolute;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 36px;
  top: 2px;
  width: 50px;
  height: 46px;
  cursor: pointer;
  color: white;
  background-color: #F06221;
  transform: translateX(2px);
}

dialog {
  text-align: center;
  color: #333;
  border: none;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.5);
  width: 500px;
  max-width: 80%;
}

dialog[open] {
  animation: toggle-modal .3s ease-in-out;
}

@keyframes toggle-modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog p {
  padding: 1rem;
  font-size: 2rem;
}

.formDialog button {
  background-color: #F06221;
  border-radius: 5px;
  border: 2px solid #F06221;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem;
  margin-top: 1.5rem;
  width: 120px;
}

.resultInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2rem;
}

h2 {
  padding: 2rem 0;
  font-size: 2rem;
}

.resultInfo span {
  font-size: 2rem;
}

.carbBox {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
}

.card {
  position: relative;
  background: #F1F3F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 70px 40px 50px 40px;
  grid-template-columns: 116px 98px 60px 60px 90px;
  grid-template-areas:
    "imgThumb controls controls controls controls"
    "imgThumb spotifyLink spotifyLink spotifyLink spotifyLink"
    "title title title release release"
    "artistName artistName artistName artistName country";
  transition: .5s;
}

.card:hover {
  background-color: #e7e9e9;
}

.imgThumb {
  grid-area: imgThumb;
  margin: 1rem 0 0 1rem;
  width: 100px;
  height: 100px;
}

img {
  width: 100%;
}

.controls {
  margin: 0.5rem auto;
  grid-area: controls;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 60px;
  width: 300px;
  box-sizing: border-box;
  cursor: pointer
}

.controls audio {
  width: 100%;
  height: 30px;
}

.spotifyLink {
  grid-area: spotifyLink;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spotifyLinkBtn {
  border-radius: 5px;
  border: 2px solid #313030;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem;
}

.title {
  font-size: 24px;
  grid-area: title;
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
}

.artistName {
  font-size: 16px;
  grid-area: artistName;
  margin-left: 1rem;
}

.release {
  font-size: 14px;
  margin-right: 1rem;
  grid-area: release;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.country {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #575757;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
  border-top-left-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  grid-area: country;
}

.pCountry {
  font-size: 13px;
  font-weight: 700;
  color: white;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  .resultInfo span {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .div-input {
    width: 380px;
  }

  .resultInfo {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .card {
    grid-template-rows: 2fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "imgThumb imgThumb"
      "controls controls"
      "spotifyLink spotifyLink"
      "title title"
      "artistName artistName"
      "release country"
  }

  .imgThumb {
    width: 150px;
    height: 150px;
    margin: 1rem 0 0 0;
    display: flex;
    justify-self: center;
  }

  .spotifyLink {
    justify-content: space-between;
    margin: 0 1rem;
  }

  .release {
    margin: 0 0 1rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .country {
    margin: 0 1rem 0 0;
  }
}