<header class="w3-row-padding w3-red">
  <div class="w3-col w3-left" style="width: 123px;">
    <p><img alt="OneRPM Logo" src="/assets/logo.png" /> </p>
  </div>
  <div class="w3-rest w3-right">
    <h1>OneRPM Challenge <small>by Rafael Vega.</small></h1> 
  </div>
</header>

<main class="w3-container">
  <router-outlet></router-outlet>
</main>

<footer class="w3-container w3-red w3-margin-top">
  <p>This application is Rafael Vega's response to One RPM's <a href="https://github.com/ONErpm-Lab/full-stack-challenge">full stack challenge</a>. For more information and code see <a href="https://github.com/rvega/full-stack-challenge">this git repository</a>.</p>
  <p>My résumé is available for download <a href="/assets/RafaelVega_CV_2021.pdf">here</a>. Please feel free to contact me.</p>
  <p>Copyright 2021 Rafael Vega.</p>
</footer>
