<header class="w3-row-padding w3-red">
  <div class="w3-col w3-left" style="width: 123px;">
    <p><img alt="OneRPM Logo" src="/assets/logo.png" /> </p>
  </div>
  <div class="w3-rest w3-right">
    <h1>OneRPM Challenge <small>by Rafael Vega.</small></h1> 
  </div>
</header>

<main class="w3-container">
  <router-outlet></router-outlet>
</main>

<footer class="w3-container">
  Like what you see?&nbsp;
  <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Download my résumé and give me a call.
  </a>
</footer>
