<app-seo></app-seo>

<div class="px-2 py-2 my-2 text-center">
  <img class="d-block mx-auto mb-4 img-fluid" style="max-height: 256px;" src="assets/logo.png" alt="hero">
  <h1 class="display-5 fw-bold">Fullstack Challenge | Angular + Laravel</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">ONErpm Fullstack Challenge! Backend with PHP and Laravel (Both latest from Docker LTS Ubuntu image), Frontend with Angular (Also Docker LTS Node.js image).</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" (click)="goToCreateTracks()">
        Save Tracks with ISRC
      </a>
      <a class="btn btn-outline-secondary btn-lg px-4" (click)="goToListTracks()">
        List your saved tracks
      </a>
    </div>
  </div>
</div>
